@use "../abstracts" as *;

.radio {

    &__input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;

        &:checked + .radio__icon {
            opacity: 1;
        }
    }

    &__label {
        position: relative;
        @include border;
        padding: 1.5rem 2rem;
        width: 100%;
        cursor: pointer;

        &:has(> input:checked) {
            @include border_dark;
        }
    }

    &__icon {
        position: absolute;
        right: 1.6rem;
        top: 1.5rem;
        opacity: 0;
    }
}

.date {
    @include border;
    height: 5.2rem;
    width: 100%;
    padding: 1.5rem;
    color: $gray;
    text-align: center;
    outline: none;
}