@use "../abstracts" as *;

.pagination {
    width: calc((100vw - (2.4rem)*2 - (0.6rem)*9)/10);
    height: 0.6rem;
    border-radius: 1rem;
    background-color: $white;

    @include tablet {
        width: calc((100vw - (4.8rem)*2 - (0.6rem)*9)/10);
    }

    &_active {
        background-color: $black;
    }

    &__container {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        padding-top: 3.2rem;
        padding-bottom: 1.6rem;
        position: absolute;
        top: 0;

        @include desktop {
            max-width: 66rem;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.icon {

    &_size-s {
        width: 2.5rem;
        height: auto;
    }
}

.stars {
    height: auto;
    width: 13.5rem;
    @include center;
    text-align: center;

    &_wrap {
        @include center;
        width: 100%;
    }
}

