@use "../abstracts" as *;

.image {
    width: 34.5rem;
    height: auto;

    &_l {
        padding-bottom: 4.8rem;
        margin-top: auto;

        @include tablet {
            margin-top: 0;
        }
    }

    &_mobile {
        width: 34.5rem;
        height: auto;
        @include tablet {
            display: none;
        }
    }

    &_tablet {
        display: none;
        width: 46.2rem;
        height: auto;

        @include tablet {
            display: block;
        }

        @include desktop {
            display: none;
        }
    }

    &_desktop {
        display: none;
        width: 42.8rem;
        height: auto;

        @include desktop {
            display: block;
        }
    }

    
}

