@use "../abstracts" as *;

#datemask2 {
    font-size: 17px;
}

.text, p, label, input {
    font-size: 1.7rem;
    line-height: 2.2rem;
    color: $black;
    @include regular;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

    &-h1 {
        font-size: 3.2rem;
        @include bold;
        color: $black;
        text-align: center;
    }

    &-h2 {
        font-size: 2.4rem;
        @include bold;
        color: $black;
    } 
    
    &_semibold {
        @include semibold;
    }
    
    &_bold {
        @include bold;
    }

    &_medium {
        @include medium;
    }

    &_italic {
        @include italic;
    }
    
    &_small {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    
    &_gray {
        color: $gray;
    }

    &_darkgray {
        color: $darkgray;
    }
    
    &_yellow {
        color: $yellow;
    }

    &_emoji {
        font-size: 2.1rem;
        line-height: 2.2rem;
    }
}

