@use "../abstracts" as *;

.main {
    height: 100vh;
    @include column;
    width: auto;
}

.header {
    background-color: #FBF9F8;
    border-radius: 0 0 3.2rem 3.2rem;
    flex-grow: 1;
    width: 100%;

    @include desktop {
        flex-grow: 0;
    }


    &__wrap {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        height: 100%;
        position: relative;

        @include tablet {
            @include center;
        }
    }

    &__container {
        @include center;

        @include desktop {
        padding-bottom: 7.2rem;
        padding-top: 7.2rem;
    }
    }

    &_baige {
        background-color: #FFF5EA;
        padding-bottom: 5.2rem;

        @include tablet {
            padding-bottom: 0;
        }

        @include desktop {
            padding-bottom: 4.8rem;
            padding-top: 4.8rem;
        }
    }

    &_green {
        background-color: #E5FFE4;

        & > div {
            @include center;

            @include desktop {
                padding: 11rem 0 7.2rem 0;
            }
        }
    }

    &_warmgreen {
        background-color: #F0FFE4;

        & > div {
            @include center;

            @include desktop {
                padding: 11rem 0 7.2rem 0;
            }
        }
    }

    &_red {
        background-color: #FFEFE4;
        flex-grow: 0;
    }

    &_orange {
        background-color: #FFF4E4;

        & > div {
            @include center;

            @include desktop {
                padding: 7.2rem 0;
            }
        }
    }

    &_yellow {
        background-color: #FFFBD2;

        & > div {
            @include center;

            @include tablet {
                padding: 7.2rem 4.8rem;
            }
        }
    }

    &__title {
        @include column;
        gap: 2.4rem;
        text-align: center;

        &_center {
            margin-top: 5.4rem;

            @include desktop {
                margin-top: 0;
            }
        }

        &_small {
            padding-top: 5.4rem;
            padding-bottom: 0.8rem;

            @include tablet {
                padding-top: 11.8rem;
                padding-bottom: 6.4rem;
            }
        }
    }

    &_big >div {
        @include center;

        @include tablet {
            padding-top: 7.2rem;
            padding-bottom: 7.2rem;
        }
    }

    &_norm {
        flex-grow: 1;
        &>div {
            @include center;
        }
    }

    &__image {
        padding-top: 2.4rem;
        position: relative;
    }
    
}

.section {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    @include column;
    width: 100%;

    @include tablet {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }

    @include desktop {
        max-width: 66rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.footer {
    @include column;
    gap: 3.2rem;

    &_m {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;

        @include tablet {
            padding-bottom: 6.4rem;
        }

        @include desktop {
            padding-top: 6.4rem;
        }
    }

    &_l {
        padding-top: 3.2rem;
        padding-bottom: 6.4rem;
        flex: 0 1 auto;

        @include desktop {
            padding-top: 6.4rem;
        }
    }

    &_big {
        justify-content: space-between;
        height: 100%;

        & > div:first-child {
            flex-grow: 1;

            @include tablet {
                flex-grow: 0;
            }
        }
    }

    &_small {
        gap: 1.6rem;

        & p, span {
            text-align: center;
        }
    }

    &_medium {
        gap: 2.4rem;

        @include tablet {
            gap: 3.2rem;
        }
    }

    &__card {
        @include tablet {
            padding-bottom: 6.4rem;
        }

        @include desktop {
            padding-bottom: 3.2rem;
            padding-top: 6.4rem
        }
         
    }
}

.content {

    &__wrap {
        @include column;
        gap: 1.6rem;
        width: 100%;
    }
}

.range {
    @include column;
    gap: 1.6rem;
    width: 100%;

    &__input {
        padding: 0.6rem 0 0.7rem 0;
        width: 100%;
    }

    &__info {
        @include column;
        gap: 0.6rem;
    }
}

.image1 {
    opacity: 1;
}

.image2 {
    opacity: 0;
    position: absolute;
    top: 2.4rem;
    left: 0;
    transition: all 0.4s;
}


.image1_animate {
    opacity: 0;
    position: absolute;
    top: 2.4rem;
    left: 0;
}

.image2_animate {
    opacity: 1;
    position: static;
}

.none {
    display: none;
}