html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#datemask2 {
  font-size: 17px;
}

.text, p, label, input {
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #000000;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.text-h1, p-h1, label-h1, input-h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.text-h2, p-h2, label-h2, input-h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000000;
}
.text_semibold, p_semibold, label_semibold, input_semibold {
  font-weight: 600;
}
.text_bold, p_bold, label_bold, input_bold {
  font-weight: 700;
}
.text_medium, p_medium, label_medium, input_medium {
  font-weight: 500;
}
.text_italic, p_italic, label_italic, input_italic {
  font-style: italic;
}
.text_small, p_small, label_small, input_small {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.text_gray, p_gray, label_gray, input_gray {
  color: rgba(0, 0, 0, 0.5);
}
.text_darkgray, p_darkgray, label_darkgray, input_darkgray {
  color: rgba(0, 0, 0, 0.7);
}
.text_yellow, p_yellow, label_yellow, input_yellow {
  color: #F8AB15;
}
.text_emoji, p_emoji, label_emoji, input_emoji {
  font-size: 2.1rem;
  line-height: 2.2rem;
}

.image {
  width: 34.5rem;
  height: auto;
}
.image_l {
  padding-bottom: 4.8rem;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .image_l {
    margin-top: 0;
  }
}
.image_mobile {
  width: 34.5rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  .image_mobile {
    display: none;
  }
}
.image_tablet {
  display: none;
  width: 46.2rem;
  height: auto;
}
@media screen and (min-width: 768px) {
  .image_tablet {
    display: block;
  }
}
@media screen and (min-width: 1152px) {
  .image_tablet {
    display: none;
  }
}
.image_desktop {
  display: none;
  width: 42.8rem;
  height: auto;
}
@media screen and (min-width: 1152px) {
  .image_desktop {
    display: block;
  }
}

.pagination {
  width: calc((100vw - 4.8rem - 5.4rem) / 10);
  height: 0.6rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .pagination {
    width: calc((100vw - 9.6rem - 5.4rem) / 10);
  }
}
.pagination_active {
  background-color: #000000;
}
.pagination__container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 1152px) {
  .pagination__container {
    max-width: 66rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.icon_size-s {
  width: 2.5rem;
  height: auto;
}

.stars {
  height: auto;
  width: 13.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stars_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #1A1A1A;
  border-radius: 1.3rem;
  width: 100%;
  height: 5.2rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  padding: 1.5rem;
  font-weight: 600;
  flex: 0 0 auto;
}
.button_plain {
  color: #000000;
  background-color: #FFFFFF;
}
.button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.radio__input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.radio__input:checked + .radio__icon {
  opacity: 1;
}
.radio__label {
  position: relative;
  border: 2px solid #EEEEEE;
  border-radius: 1.3rem;
  padding: 1.5rem 2rem;
  width: 100%;
  cursor: pointer;
}
.radio__label:has(> input:checked) {
  border: 2px solid #000000;
  border-radius: 1.3rem;
}
.radio__label_price {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.radio__tag {
  position: absolute;
  color: #FFFFFF;
  background-color: #F8AB15;
  height: 2.2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1.1rem;
  right: 1.6rem;
}
.radio__icon {
  position: absolute;
  right: 1.6rem;
  top: 1.5rem;
  opacity: 0;
}

.date {
  border: 2px solid #EEEEEE;
  border-radius: 1.3rem;
  height: 5.2rem;
  width: 100%;
  padding: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.date::-webkit-datetime-edit {
  width: 100%;
  padding: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #FFFFFF;
}

.height {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #EEEEEE;
  border-radius: 1.3rem;
  width: 100%;
  height: 5.2rem;
  padding: 0 2rem;
}
.height__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.height__units {
  display: flex;
}
.height__label {
  padding: 0.6rem 1.6rem;
  border-radius: 0.6rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
.height__label:has(> input:checked) {
  background-color: #EEEEEE;
  color: #000000;
}
.height__radio {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle {
  background-color: #EEEEEE;
  width: 5.1rem;
  height: 3.1rem;
  border-radius: 6rem;
  position: relative;
}
.toggle::after {
  position: absolute;
  content: "";
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 100%;
  background-color: #FFFFFF;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.toggle:has(> input:checked) {
  background-color: #000000;
}
.toggle:has(> input:checked)::after {
  left: 2.2rem;
}
.toggle__input {
  width: 0;
  height: 0;
  opacity: 0;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  height: 0.4rem;
  background: #EEEEEE;
  border-radius: 16px;
  background-color: transparent;
  pointer-events: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 0.4rem;
}
input[type=range]::-moz-range-track {
  height: 0.4rem;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-12.5px);
  z-index: 1000;
  pointer-events: auto;
}
input[type=range]::-moz-range-thumb {
  width: 2.8rem;
  height: 2.8rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-12.5px);
  pointer-events: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 1.6rem;
  border: 2px solid #EEEEEE;
  border-radius: 1.3rem;
  width: 100%;
  justify-content: space-between;
}
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  align-items: start;
  width: 100%;
}
.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  align-items: start;
}

.card-risk {
  border: 2px solid #EEEEEE;
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  padding: 1.2rem 1.6rem;
  align-items: start;
  width: 100%;
}
.card-risk__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  justify-content: start;
  max-width: 46rem;
  height: 18rem;
  width: 100%;
  position: absolute;
  align-items: center;
}
.card-rate__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}
.card-rate__info p:last-child {
  display: flex;
  width: 100%;
  justify-content: end;
}
.card-rate__wrap {
  max-width: 46rem;
  height: 18rem;
  position: relative;
  width: 100%;
}

.link__container {
  display: flex;
  gap: 0.6rem;
}

.text_animate {
  opacity: 0;
  transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade {
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.main {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.header {
  background-color: #FBF9F8;
  border-radius: 0 0 3.2rem 3.2rem;
  flex-grow: 1;
  width: 100%;
}
@media screen and (min-width: 1152px) {
  .header {
    flex-grow: 0;
  }
}
.header__wrap {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  height: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1152px) {
  .header__container {
    padding-bottom: 7.2rem;
    padding-top: 7.2rem;
  }
}
.header_baige {
  background-color: #FFF5EA;
  padding-bottom: 5.2rem;
}
@media screen and (min-width: 768px) {
  .header_baige {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1152px) {
  .header_baige {
    padding-bottom: 4.8rem;
    padding-top: 4.8rem;
  }
}
.header_green {
  background-color: #E5FFE4;
}
.header_green > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1152px) {
  .header_green > div {
    padding: 11rem 0 7.2rem 0;
  }
}
.header_warmgreen {
  background-color: #F0FFE4;
}
.header_warmgreen > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1152px) {
  .header_warmgreen > div {
    padding: 11rem 0 7.2rem 0;
  }
}
.header_red {
  background-color: #FFEFE4;
  flex-grow: 0;
}
.header_orange {
  background-color: #FFF4E4;
}
.header_orange > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1152px) {
  .header_orange > div {
    padding: 7.2rem 0;
  }
}
.header_yellow {
  background-color: #FFFBD2;
}
.header_yellow > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header_yellow > div {
    padding: 7.2rem 4.8rem;
  }
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  text-align: center;
}
.header__title_center {
  margin-top: 5.4rem;
}
@media screen and (min-width: 1152px) {
  .header__title_center {
    margin-top: 0;
  }
}
.header__title_small {
  padding-top: 5.4rem;
  padding-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .header__title_small {
    padding-top: 11.8rem;
    padding-bottom: 6.4rem;
  }
}
.header_big > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header_big > div {
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
  }
}
.header_norm {
  flex-grow: 1;
}
.header_norm > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__image {
  padding-top: 2.4rem;
  position: relative;
}

.section {
  padding-left: 2.1rem;
  padding-right: 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
}
@media screen and (min-width: 1152px) {
  .section {
    max-width: 66rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.footer_m {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
@media screen and (min-width: 768px) {
  .footer_m {
    padding-bottom: 6.4rem;
  }
}
@media screen and (min-width: 1152px) {
  .footer_m {
    padding-top: 6.4rem;
  }
}
.footer_l {
  padding-top: 3.2rem;
  padding-bottom: 6.4rem;
  flex: 0 1 auto;
}
@media screen and (min-width: 1152px) {
  .footer_l {
    padding-top: 6.4rem;
  }
}
.footer_big {
  justify-content: space-between;
  height: 100%;
}
.footer_big > div:first-child {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .footer_big > div:first-child {
    flex-grow: 0;
  }
}
.footer_small {
  gap: 1.6rem;
}
.footer_small p, .footer_small span {
  text-align: center;
}
.footer_medium {
  gap: 2.4rem;
}
@media screen and (min-width: 768px) {
  .footer_medium {
    gap: 3.2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__card {
    padding-bottom: 6.4rem;
  }
}
@media screen and (min-width: 1152px) {
  .footer__card {
    padding-bottom: 3.2rem;
    padding-top: 6.4rem;
  }
}

.content__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.range__input {
  padding: 0.6rem 0 0.7rem 0;
  width: 100%;
}
.range__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.image1 {
  opacity: 1;
}

.image2 {
  opacity: 0;
  position: absolute;
  top: 2.4rem;
  left: 0;
  transition: all 0.4s;
}

.image1_animate {
  opacity: 0;
  position: absolute;
  top: 2.4rem;
  left: 0;
}

.image2_animate {
  opacity: 1;
  position: static;
}

.none {
  display: none;
}

.elem_none {
  display: none;
}

@media screen and (min-width: 768px) {
  .elem_mobile {
    display: none !important;
  }
}

.elem_tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .elem_tablet {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */